<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cart Items</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="my_cart">
        <%= render 'shared/purchased_products', purchased_products: @purchased_products %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <% if current_user.present?%>
          <% sum = 0 %>
          <% purchased_products.each do |purchase| %>
            <% sum = sum + purchase.two_wheeler.price %>          
          <% end %>
        <% end %>
          <button type="button" class="btn btn-primary " id="checkout_total">Checkout <%= sum  %></button>
      </div>
    </div>
  </div>
</div>

<script >
  $(document).ready(function(){
    $("#checkout_total").on('click',function(){
      alert('Thank you for buying!!!!!   Have a good Day!!!! Your Total amount is <%= sum %>')
      document.location.href = "/carts/index"
    });
  });
</script>
